<div class="innerBanner mb15">
    {if get_cate_last_parent(out_id()) ==18}
    <div class="wrap"><img src="{path template/}/images/inner004.jpg"></div>
    {/if}
    {if get_cate_last_parent(out_id()) ==19}
    <div class="wrap"><img src="{path template/}/images/inner001.jpg"></div>
    {/if}
    {if get_cate_last_parent(out_id()) ==22}
    <div class="wrap"><img src="{path template/}/images/inner002.jpg"></div>
    {/if}
    {if get_cate_last_parent(out_id()) ==20}
    <div class="wrap"><img src="{path template/}/images/inner005.jpg"></div>
    {/if}
    {if get_cate_last_parent(out_id()) ==49}
    <div class="wrap"><img src="{path template/}/images/inner003.jpg"></div>
    {/if}
    {if get_cate_last_parent(out_id()) == 50}
    <div class="wrap"><img src="{path template/}/images/inner006.jpg"></div>
    {/if}
</div>

