<!Doctype html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="{print content('info')/}">
<meta name="keywords" content="{print content('keywords')/}">
<title>{print content('small_title')/}_{print webinfo('web_name')/}</title>
<link rel="stylesheet" type="text/css" href="{path template/}/style/common.css">
<script type="text/javascript" src="{path template/}/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{path template/}/js/common.js"></script>
</head>
<body>
{include head/}

{include inner_banner/}

<div class="wrap mb15">
    <div class="main col2 group">
        {include left_nav/}
        <div class="ibox">
            <div class="ibox_top">
                <div class="guide fr">
                    <span>Position：</span>{position source=position/}
                </div>
                <b class="ibox_home_title blue_ico">{print get_cate(out_id())/}</b>
            </div>
            <div class="ibox_body min600">
                <div class="ibox_inner group">
                    <div class="single">
                        {print content('content')/}
                    </div>
                     <div class="page_fy" style="float:none;margin-left:300px;">
					    {print body_pages()/}
					  </div>
                </div>
            </div>
        </div>

    </div>
</div>



					
{include foot/}
</body>
</html>