<!Doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="{print cateinfo('cate_info_seo')/}">
<meta name="keywords" content="{print cateinfo('cate_key_seo')/}">
<title>{print cateinfo('cate_title_seo')/}_{print webinfo('web_name')/}</title>
<link rel="stylesheet" type="text/css" href="{path template/}/style/common.css">
<script type="text/javascript" src="{path template/}/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{path template/}/js/common.js"></script>
</head>
<body>
{include head/}

{include inner_banner/}

<div class="wrap mb15">
    <div class="main col2 group">
        
        <div class="leftBar">
            <!-- 产品栏目 -->
             <div class="leftbox mb8">
                <div class="lb_head"><img src="{path template/}/images/lhead_002.gif"></div>
                <div class="lb_body">
                    {assign source=get_tpl_list_nav(3,1) name=tree/}
                    {if $tree}
                        <ul class="lb_sbunav">
                            {loop source=$tree}
                            <li><span></span><a href="{print $v['url']/}"  class="{print $v['class']/}" {print $v['target']/} title="{print $v['cate_name']/}">{print $v['cate_name']/}</a></li>
                            {/loop}
                         
                        </ul>
                    {/if}
                </div>
            </div>
            <!-- 联系我们 -->
            <div class="leftbox">
                <div class="lb_head"><img src="{path template/}/images/lhead_001.gif"></div>
                <div class="lb_body">
                    {print get_block_content('contactus')/}
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox_top">
                <div class="guide fr">
                    <span>当前位置：</span>{position source=position/}
                </div>
                <b class="ibox_home_title blue_ico">{print get_cate(out_id())/}</b>
            </div>
            <div class="ibox_body min600">
                <div class="ibox_inner group">
                    <ul class="pro_list group">
                        {loop source=list_article()}
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><a href="{print $v['url']/}" {print $v['target']/}><img src="{print $v['thumb_pic']/}" width="148" height="118" alt="{print $v['title']/}"></a></div>
                            <div class="title">
                                <a href="{print $v['url']/}" {print $v['target']/}>{print $v['title']/}</a>
                            </div>
                        </li>
                        {/loop}
                    </ul>
                    <div class="page_fy">
                    {print list_page()/}
                    </div> 
                </div>
            </div>
        </div>

    </div>
</div>

{include foot/}
</body>
</html>