<!Doctype html>
<html>
<head>
<meta charset="utf-8">
<title>产品中心--二级列表</title>
<link rel="stylesheet" type="text/css" href="style/common.css">
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</head>
<body>
<div class="header">
    <div class="wrap">
        <div class="top">
            <div class="fr version">
                <a href="#" class="chinese">中文版</a>
                <a href="#" class="english">English</a>
            </div>
            <a href="#" class="logo"><img src="images/logo.gif"></a>
        </div>
    </div>
</div>
<div class="nav mb15">
    <div class="wrap">
        <ul>
            <li class="focus"><a href="#">首 页</a></li>
            <li><a href="#">新闻中心</a></li>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">产品中心</a></li>
            <li><a href="#">样本下载</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
    </div>
</div>

<div class="innerBanner mb15">
    <div class="wrap"><img src="images/inner001.jpg"></div>
</div>

<div class="wrap mb15">
    <div class="main col2 group">
        <div class="leftBar">
            <!-- 产品栏目 -->
             <div class="leftbox mb8">
                <div class="lb_head"><img src="images/lhead_002.gif"></div>
                <div class="lb_body">
                    <ul class="lb_sbunav">
                        <li><a href="#" class="hover">REXROTH德国力士乐</a></li>
                        <li><a href="#">REXROTH德国力士乐</a></li>
                        <li><a href="#">REXROTH德国力士乐</a></li>
                        <li><a href="#">REXROTH德国力士乐</a></li>
                        <li><a href="#">REXROTH德国力士乐</a></li>
                    </ul>
                </div>
            </div>
            <!-- 联系我们 -->
            <div class="leftbox">
                <div class="lb_head"><img src="images/lhead_001.gif"></div>
                <div class="lb_body">
                    <div class="lb_body_img"><img src="images/contract_img.jpg"></div>
                    <div class="content">
                        戴纳米克（大连）科技有限公司<br>
                        中国大连市高新园区世达街19号-1-2414号<br>
                        电话：+86（411）8445 7746<br>
                        传真：+86（411）8445 8976<br>
                        网址：www.dynamik.com.cn
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox_top">
                <div class="guide fr">
                    <span>当前位置：</span> <a href="#">首页</a> > 产品中心 
                </div>
                <b class="ibox_home_title blue_ico">产品中心</b>
            </div>
            <div class="ibox_body min600">
                <div class="ibox_inner">
                    <ul class="pro_list group">
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                        <li>
                            <!-- 图片：148*118 -->
                            <div class="img"><img src="images/pro_temp01.jpg"></div>
                            <div class="title">
                                <a href="#">DENISON丹尼逊M6G金杯系列定量轴向柱塞马达</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="footer">
    <div class="wrap">
        <p>辽ICP备07006829号</p>
        <p>Copyright © 2014 戴纳米克（大连）科技有限公司. All Rights Reserved.</p>
        <p>
            <a href="#">首 页</a>  |   
            <a href="#">新闻中心</a>   |   
            <a href="#">关于我们</a>   |   
            <a href="#">产品中心</a>   |  
            <a href="#">样本下载</a>   |   
            <a href="#">联系我们</a>  
        </p>
    </div>
</div>

</body>
</html>
