<!Doctype html>
<html>
<head>
<meta charset="utf-8">
<title>样本下载--下载详情</title>
<link rel="stylesheet" type="text/css" href="style/common.css">
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</head>
<body>
<div class="header">
    <div class="wrap">
        <div class="top">
            <div class="fr version">
                <a href="#" class="chinese">中文版</a>
                <a href="#" class="english">English</a>
            </div>
            <a href="#" class="logo"><img src="images/logo.gif"></a>
        </div>
    </div>
</div>
<div class="nav mb15">
    <div class="wrap">
        <ul>
            <li class="focus"><a href="#">首 页</a></li>
            <li><a href="#">新闻中心</a></li>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">产品中心</a></li>
            <li><a href="#">样本下载</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
    </div>
</div>

<div class="innerBanner mb15">
    <div class="wrap"><img src="images/inner001.jpg"></div>
</div>

<div class="wrap mb15">
    <div class="main group">

        <div class="ibox">
            <div class="ibox_top">
                <div class="guide fr">
                    <span>当前位置：</span> <a href="#">首页</a> > 样本下载
                </div>
                <b class="ibox_home_title blue_ico">样本下载</b>
            </div>
            <div class="ibox_body min600">
                <div class="ibox_inner">
                    <h1 class="news_title">教你如何使用ppt下载</h1>
                    <div class="news_statu">
                        <span>发布人：admin</span>
                        <span>发布时间：2014-10-10 09：33：06</span>
                    </div>
                    <div class="news_body">
                        <dl class="downloads group">
                            <dt class="dt">文件类型：</dt>
                            <dd class="dd">rar</dd>
                        </dl>
                        <dl class="downloads group">
                            <dt class="dt">文件大小：</dt>
                            <dd class="dd">411.48KB</dd>
                        </dl>
                        <dl class="downloads group">
                            <dt class="dt">文件下载：</dt>
                            <dd class="dd"><a href="#" class="red">点击下载</a></dd>
                        </dl>
                        <dl class="downloads group">
                            <dt class="dt">文件描述：</dt>
                            <dd class="dd">
                                <p>教你如何使用PPT下载是...教你如何使用PPT下载是...教你如何使用PPT下载是...教你如何使用PPT下载是...教你如何使用PPT下载是...教你如何使用PPT下载是...</p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="footer">
    <div class="wrap">
        <p>辽ICP备07006829号</p>
        <p>Copyright © 2014 戴纳米克（大连）科技有限公司. All Rights Reserved.</p>
        <p>
            <a href="#">首 页</a>  |   
            <a href="#">新闻中心</a>   |   
            <a href="#">关于我们</a>   |   
            <a href="#">产品中心</a>   |  
            <a href="#">样本下载</a>   |   
            <a href="#">联系我们</a>  
        </p>
    </div>
</div>

</body>
</html>
